<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <meta name="keyword" content="enigma, search_engine, enigma_search, search, cloud,
            cloud_service, photos, photo_gallery, photo_collection, fast_search,
            open_source, open_source_search, open_source_search_engine, ai_search,
            ml_search, machine_learning, deep_learning, nlp, natural_language_processing,
            ai, artificial_intelligence, python_search, advertisement, ads">
    <meta name="description" content="Enigma is an open source search engine which is developed
            iteratively. Please find us on Github to improve the engine. We don't sell user
            information to other advertisers. Personalized recommender system is used to provide
            search results and other recommendations.">
    <meta name="author" content="Muhammad Abdur Rakib">
    <title>Enigma | {{ page_title }}</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/custom-style.css" />
</head>
<body>      
    {% block content %}
    
    {% endblock %}
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>
